*, ::before, ::after  {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 16px/1.4 Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

h2, h3, h4 {
    text-align: center;
    margin: 0 0 30px;
}

div {
    margin: 0 auto;
}